@import 'fonts';


$dark-blue: #040711;
$slate: #394150;
$steel-gray: #4D5562;
$silver-blue: #CDD5E0;
$cloud: #F9FAFB;
$blue-jeans: #3662E3;
$sky-blue: #7CA9F3;
$midnight-transparent: #212936cc;
$midnight-transparent-dark: #121826cc;

$font-dm-sans: 'dm-sans';


